################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App1/.vs/App1/v16
/App1/obj
/App1/App1.csproj.user
/App1/bin/ARM/Debug
